.newsImageCard {
    background-color: #003480;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: #FFF;
    font-size: 12px;
}
.newsImageCard img {
    width: 100%;
}
.newsTitle {
    font-size: 15px;
    font-weight: bold;
}