.sortingSelect {
    width: 250px;
    border: 0;
    background-color: white;
    border-radius: 0;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    outline-width: 0;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 1px solid #898989;
    background-image:
    linear-gradient(45deg, transparent 50%, #1e1e1e 50%),
    linear-gradient(135deg, #1e1e1e 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        0px 1.5em;
    background-repeat: no-repeat;
}

