@import '../../assets/variables.scss';

.categoryContainer {
    display: table;
    width: 100%;
}
.HeadingDiv {
    display: table-cell;
    vertical-align: middle; 
    padding: 20px 0;
}
.newsSortingDiv {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.SearchResultsArea {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

@media (max-width: $ss-screen) {
    .SearchResultsArea {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    a {
        width: 100%;
        margin-bottom: 10px;
    }
}