@import '../../assets/variables.scss';

.categoryContainer {
    display: table;
    width: 100%;
}
.HeadingDiv {
    display: table-cell;
    vertical-align: middle; 
    padding: 20px 0;
}
.newsSortingDiv {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.SearchResultsArea {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

