@import '../../../assets/variables.scss';

.categoryBaseHeader {
    .btn {
        color: #fd494f !important;
        border: 1px solid #fd494f;
    }
    .btn:hover {
        color: #FFF !important;
        background-color: #fd494f;
    }
}
.leftColNews {
}
.rightColNews {
    .newsCard {
        border-bottom: 1px solid #ccc !important;
    }
    .newsCard:last-child {
        border-bottom: 0 !important;
    }
}