@import '../../assets/variables.scss';

.newCardLink {
    display: block;
}
.newsCard {
    width: 100%;
    padding-top: 100%;
    background-color: #003480;
    border-bottom: 3px solid #f50057;
    position: relative;
    -webkit-box-shadow: 1px 1px 14px -2px rgba(0,0,0,0.70); 
    box-shadow: 1px 1px 14px -2px rgba(0,0,0,0.70);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    .inner {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 20px;
        color: white;
     }
    @media (max-width: $ss-screen) {
         overflow: hidden;
    }
    .newsTitle {
        display: block;
        font-family: 'Source Serif Pro', serif;
        font-size: 17px;
        font-weight: 600;
        text-align: left;
        position: absolute;
        bottom: 0;
        background-color: rgba(0,52,128,0.8);
        padding: 8px 15px 25px 8px;
        height: 80px;
        max-height: 80px;
        overflow: hidden;
        p {
            margin: 0px;
        }
        .trailText {
            font-size: 14px;
            font-weight: 300;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
            margin: 5px 0;
        }
        @media (max-width: $ss-screen) {
            width: 100%;
            font-size: 15px;
            p {
                padding-right: 30px;
            }
            .trailText {
                display: none;
            }
        }
    }
}
.newsCard:hover,
.newsCard:focus {
    background-size: auto 110%;
    transition: all .5s;
    .newsTitle {
        background-color: rgba(0,52,128,0.98);
    }
}


