.newCardLink {
    display: block;
}
.newsCard {
    width: 100%;
    padding-top: 100%;
    background-color: #003480;
    position: relative;
    -webkit-box-shadow: 1px 1px 14px -2px rgba(0,0,0,0.70); 
    box-shadow: 1px 1px 14px -2px rgba(0,0,0,0.70);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    .inner {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 20px;
        color: white;
     }
    .newsTitle {
        display: block;
        font-family: 'Source Serif Pro', serif;
        font-size: 19px;
        font-weight: 600;
        text-align: left;
        position: absolute;
        bottom: 0;
        background-color: rgba(0,52,128,0.8);
        padding: 10px 15px 25px 10px;
        height: 80px;
        max-height: 80px;
        overflow: hidden;
    }
}
.newsCard:hover,
.newsCard:focus {
    background-size: auto 110%;
    transition: all .5s;
    .newsTitle {
        background-color: rgba(0,52,128,0.98);
    }
}
