@import '../../assets/variables.scss';

.homepage { 
    font-size: 15px;
}
.topSection {
    margin-bottom: 10px;
}
.homepageSections {
    margin-bottom: 40px;
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
    .seeAll {
        a:link,
        a:visited {
            color: #000;
        }
    }
}

.topStoriesHeader {
    display: table;
    width: 100%;
    padding: 20px 0;
}

.categoryBaseHeader {
    h2 {
        font-size: 18px;
    }
    .categorySeeAllCol {
        text-align: right;
    }
 }