@import '../../assets/variables.scss';

.homepage { 
    font-size: 15px;
}

.homepageSections {
    margin-bottom: 40px;
    .seeAll {
        a:link,
        a:visited {
            color: #000;
        }
    }
}

.topStoriesHeader {
    display: table;
    width: 100%;
    padding: 20px 0;
}

.categoryBaseHeader {
    display: table;
    width: 100%;
    padding: 20px 0;
    h2 {
        width: 60%;
        display: table-cell;
    }
    .categorySeeAllCol {
        width: 100%;
        display: table-cell;
        text-align: right;
        a:link,
        a:visited {
            color: #2196f3;
        }
    }
 }