.wrapper {
    width: 90%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

// @media only screen and (max-width: 768px) {
//     .wrapper {
//         width: 450px;
//     }
// }