.wrapper {
    width: 90%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

// @media only screen and (max-width: 768px) {
//     .wrapper {
//         width: 450px;
//     }
// }

h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 45px;
}