@import '../../../assets/variables.scss';

.topStories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "index0 index0 index1 index2"
      "index0 index0 index3 index4"
      "index5 index6 index7 auto";
}

.index0 { grid-area: index0; }
.index1 { grid-area: index1; }
.index2 { grid-area: index2; }
.index3 { grid-area: index3; }
.index4 { grid-area: index4; }
.index5 { grid-area: index5; justify-self: stretch;}
.index6 { grid-area: index6; justify-self: stretch;}
.index7 { grid-area: index7; justify-self: stretch;}


.index3 div,
.index4 div  {
    background-position: -1000% -1000%;
}


@media (max-width: $ss-screen) {
    .topStories {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: space-around;
        // Clear grid
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 0;
        grid-template-areas: none;
    }
    a {
        width: 40%;
        margin: 10px;
    }
    .index3 div,
    .index4 div  {
        background-position: center;
    }
}