@import '../../../assets/variables.scss';

.topStoriesFirstRow {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    .index0 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .index3 div,
    .index4 div  {
        background-size: 0 0;
    }
    a:first-child > div {
        padding-top: 80%;  
        border-bottom: 3px solid #f50057;
    }
    a:nth-child(2) > div {
        border-bottom: 3px solid #f50057;
    }
    a:nth-child(3) > div {
        border-bottom: 3px solid #ffca28;
    }
    a:nth-child(4) > div {
        border-bottom: 3px solid #2196f3;
    }
    a:nth-child(5) > div {
        border-bottom: 3px solid #388e3c;
    }
    a:nth-child(4) > div,
    a:nth-child(5) > div {
        padding-top: 50%;
        margin-top: 20px;
    }
}

.topStoriesSecondRow {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: space-between;
    margin: 15px 0;
    /* Hide trail text */
    a:first-child > div > div > div > div {
        display: none;
    }
}


@media (max-width: $ss-screen) {
    .topStoriesFirstRow {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: space-around;
        // Clear grid
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 0;
        grid-template-areas: none;
        a {
            width: 100%;
            margin-bottom: 10px;
        }
        a:first-child > div {
            padding-top: 100%;
        }
        a:nth-child(4) > div,
        a:nth-child(5) > div {
            padding-top: 100%;
            margin-top: 10px;
        }
        .index3 div,
        .index4 div  {
            background-size: auto 100%;
        }
    }
    .topStoriesSecondRow {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: space-around;
        // Clear grid
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 0;
        grid-template-areas: none;
        a {
            width: 100%;
            margin-bottom: 10px;
        }
     
    }
}